@use '../abstracts' as *;

.button {
  --button-background-color: initial;
  --button-background-color-hover: var(--button-background-color);
  --button-background-color-active: var(--button-background-color);
  --button-accent-color: black;

  display: inline-block;
  padding: var(--spacing-200) var(--spacing-500);
  background-color: var(--button-background-color);
  border-radius: 1.6875rem;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;

  @include text-preset-5;
  @include transition(background-color, transform);

  &__accent {
    color: var(--button-accent-color);
  }

  &--primary {
    --button-background-color: var(--color-cyan-600);
    --button-background-color-hover: var(--color-cyan-400);
    --button-background-color-active: color-mix(in hsl, var(--color-cyan-600), black 10%);
    --button-accent-color: var(--color-cyan-300);
  }

  &--secondary {
    --button-background-color: var(--color-purple-600);
    --button-background-color-hover: var(--color-purple-400);
    --button-background-color-active: color-mix(in hsl, var(--color-purple-600), black 10%);
    --button-accent-color: var(--color-purple-300);
  }

  &:hover {
    background-color: var(--button-background-color-hover, var(--button-background-color));
  }

  &:focus-visible {
    outline: 0.1875rem solid var(--button-accent-color);
    outline-offset: 0.1875rem;
  }

  &:active {
    background-color: var(--button-background-color-active);
    transform: translateY(1px);
  }
}
