@use '../abstracts' as *;

.features {
  padding: var(--spacing-400);
  padding-block-end: var(--spacing-800);

  &__step-marker {
    margin: var(--spacing-1000) auto var(--spacing-800);
  }

  &__gallery {
    margin-block-end: var(--spacing-800);
  }

  &__subtitle {
    @include text-preset-3;

    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-cyan-600);
    margin-block-end: var(--spacing-200);
  }

  &__title {
    @include text-preset-2;

    max-width: 27.8125rem;
    font-size: 2rem;
    text-align: center;
    color: var(--color-slate-900);
    margin-block-end: var(--spacing-400);
    margin-inline: auto;
  }

  &__description {
    @include text-preset-5;

    max-width: 31.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-slate-600);
    margin-inline: auto;
    margin-block-end: var(--spacing-800);
  }

  @media (width >= 48rem) {
    padding-inline: 2.75rem;

    &__step-marker {
      margin-block-start: 8.5625rem;
    }

    &__subtitle {
      font-size: 0.875rem;
    }

    &__title {
      font-size: 2.25rem;
    }
  }
}
