@use '../abstracts' as *;

.footer {
  --footer-image: url('../../assets/images/tablet/image-footer.jpg');

  &__step-marker {
    margin: var(--spacing-200) auto calc(var(--spacing-700) * -1 / 2);
  }

  &__wrapper {
    display: flex;
    padding: var(--spacing-800) var(--spacing-400);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    background:
      linear-gradient(
        hsl(from var(--color-cyan-600) h s l / 90%),
        hsl(from var(--color-cyan-600) h s l / 90%)
      ),
      var(--footer-image) no-repeat top/cover;
    text-align: center;
    color: var(--color-white);
  }

  &__title {
    @include text-preset-2;

    font-size: 2rem;
  }

  &__description {
    @include text-preset-5;

    font-weight: 500;
  }

  @media (width >= 48rem) {
    &__title {
      font-size: 2.25rem;
    }

    &__description {
      max-width: 31.5rem;
    }
  }

  @media (width >= 90rem) {
    &__step-marker {
      margin-block-start: 1.5625rem;
    }

    &__wrapper {
      --footer-image: url('../../assets/images/desktop/image-footer.jpg');

      padding: var(--spacing-1400) 10rem;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--spacing-400);
      text-align: left;
    }

    &__title {
      max-width: 27.8125rem;
      font-size: 2.5rem;
    }

    &__description {
      max-width: 22.1875rem;
      font-size: 1.125rem;
      margin-inline-end: auto;
    }
  }
}
