@use '../abstracts' as *;

.footer {
  &__step-marker {
    margin: var(--spacing-200) auto calc(var(--spacing-700) * -1 / 2);
  }

  &__wrapper {
    display: flex;
    padding: var(--spacing-800) var(--spacing-400);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
    background:
      linear-gradient(
        hsl(from var(--color-cyan-600) h s l / 90%),
        hsl(from var(--color-cyan-600) h s l / 90%)
      ),
      url('../../assets/images/tablet/image-footer.jpg') no-repeat center/cover;
    text-align: center;
    color: var(--color-white);
  }

  &__title {
    @include text-preset-2;

    font-size: 2rem;
  }

  &__description {
    @include text-preset-5;

    font-weight: 500;
  }

  @media (width >= 48rem) {
    &__title {
      font-size: 2.25rem;
    }

    &__description {
      max-width: 31.5rem;
    }
  }
}
