.gallery {
  display: grid;
  gap: var(--spacing-200);
  grid-template-columns: repeat(2, 1fr);

  &__image {
    border-radius: var(--spacing-100);
  }

  @media (width >= 48rem) {
    gap: var(--spacing-300);
    grid-template-columns: repeat(4, 1fr);
  }
}
