.header {
  padding-block-start: 3rem;

  &__logo {
    display: block;
    max-width: fit-content;
    margin-inline: auto;
  }

  @media (width >= 80rem) {
    padding-block-start: var(--spacing-1000);
  }
}
