@use '../abstracts' as *;

.hero {
  padding: var(--spacing-400);
  padding-block-start: var(--spacing-800);
  overflow: hidden;

  &__media {
    margin-inline: calc(var(--spacing-400) * -1 - 1.8125rem);
    margin-block-end: 3rem;
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    max-width: 28rem;
    margin-inline: auto;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    text-align: center;
    color: var(--color-slate-900);
    padding-inline: 0.625rem;

    @include text-preset-2;
  }

  &__description {
    @include text-preset-5;

    font-weight: 500;
    text-align: center;
    color: var(--color-slate-600);
    margin-inline: auto;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  @media (width >= 48rem) {
    &__media {
      margin-block-end: var(--spacing-900);
    }

    &__title {
      @include text-preset-1;

      max-width: 21.875rem;
      font-size: 3rem;
      margin-inline: auto;
    }

    &__actions {
      flex-direction: row;
      justify-content: center;
    }
  }
}
