@use '../abstracts' as *;

.step-marker {
  display: grid;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  place-items: center;
  border: 1px solid var(--color-slate-300);
  border-radius: 50%;
  color: var(--color-slate-600);

  @include text-preset-5;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 1px;
    height: var(--spacing-1000);
    background-color: var(--color-slate-300);
  }
}
